  <div class="container mt-3">
    <div class="jumbotron">

      <h1 style="color: #ff0066">Productos: </h1>
        <div class="table-responsive">
            <div class="table table-dark">
                <ul class="ulTitle"> <li>Nombre</li> <li>Precio</li> <li>Imagen</li> </ul>
                <div id="productos"/>
            </div>
        </div>

      <form onsubmit="addMessage(this)">
            <input type="email" id="email" placeholder="Tu mail...">

            <div class="mensajes" id="mensajes"></div>

            <input type="text" id="texto" placeholder="Tu comentario...">
            <input type="submit" value="Enviar">
      </form>

      <h4 style="color: #039e72">Crear Carrito </h4>
        <form action="/api/carrito" method="POST">
          <div class="form-group">
            <label for="nombre"><b>Id</b></label>
            <input id="idCarrito" class="form-control" type="text" name="idCarrito" />
          </div>

          <div class="row justify-content-between">
            <button type="submit" class="col-3 btn btn-success mt-3 mb-5">Crear</button>
          </div>
        </form>

      <h3 style="color: #77a200">Permiso de Administrador</h3>
      <br />

      <form id="formularioPrueba" onsubmit="permisosAdm(this)">
        <div class="form-group">
          <label for="nombre"><b>Contraseña</b></label>
          <input id="contraseña" class="form-control" type="text" name="contraseña" />
        </div>

        <div class="row justify-content-between">
          <button type="submit" class="col-3 btn btn-success mt-3 mb-5">Enviar</button>
        </div>
      </form>

      <h3 class="desactivado" style="color: blue">Ingrese el Producto</h3>
      <br />

      <form class="desactivado" id="formularioAdm" action="/api/products" method="POST">
        <div class="form-group">
          <label for="nombre"><b>Nombre</b></label>
          <input id="nombre" class="form-control" type="text" name="nombre" />
        </div>

        <div class="form-group">
          <label for="descripcion"><b>Descripción</b></label>
          <input id="descripcion" class="form-control" type="text" name="descripcion" />
        </div>

        <div class="form-group">
          <label for="precio"><b>Precio</b></label>
          <input id="precio" class="form-control" type="number" name="precio" />
        </div>

        <div class="form-group">
          <label for="codigo"><b>Código</b></label>
          <input id="codigo" class="form-control" type="number" name="codigo" />
        </div>

        <div class="form-group">
          <label for="stock"><b>Stock</b></label>
          <input id="stock" class="form-control" type="number" name="stock" />
        </div>

        <div class="form-group">
          <label for="imagen"><b>Imagen</b></label>
          <input id="imagen" class="form-control" type="text" name="imagen"/>
        </div>

        <div class="row justify-content-between">
          <button type="submit" class="col-3 btn btn-success mt-3 mb-5">Enviar</button>
        </div>
      </form>

        {{!-- <form onsubmit="addMessage(this)">
            <input type="email" id="email" placeholder="Tu mail...">

            <div class="mensajes" id="mensajes"></div>

            <input type="text" id="texto" placeholder="Tu comentario...">
            <input type="submit" value="Enviar">
        </form> --}}
      {{!-- {{ include('./datos.hbs',  productos)}}--}}
      {{!-- {{ include "some-other-partial.hbs" "path/to/data.json" }} --}}
    </div>
  </div>