<div class="container mt-3">
    <div class="jumbotron">

    <h1 style="color: blue">Producto: </h1>
        <div class="table-responsive">
            <div class="table table-dark">
                <ul class="ulTitle"> <li>Nombre</li> <li>Precio</li> <li>Imagen</li> </ul>
                <div id="productos"/>
            </div>
        </div>
    </div>
</div>