doctype doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Productos con Pug
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
    body 
        div(class="container mt-3")
            div(class="jumbotron")
                h1(style="color: blue") Ingrese el Producto
                br
                form(action="/productos" method="POST")
                    div(class="form-group")
                        label(for="nombre")
                            b Nombre
                    input(id="nombre" class="form-control" type="text" name="nombre")
                    div(class="form-group")
                        label(for="precio")
                            b Precio
                    input(id="precio" class="form-control" type="number" name="precio")
                    div(class="form-group")
                        label(for="imagen")
                            b Imagen
                    input(id="imagen" class="form-control" type="text" name="imagen")
                    div(class="row justify-content-between")
                        button(type="submit" class="col-3 btn btn-success mt-3 mb-5") Enviar
                        a(class="col-3 btn btn-info mt-3 mb-5" href="/productos") Ver Productos